.formacao {
  background: #141414;
  padding: 120px 0;
  margin-top: 60px;
}

.formacao .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}
.formacao .container::after {
  content: "";
  position: absolute;
  background: url("/img/detalhe.svg") no-repeat center;
  bottom: -170px;
  width: 128px;
  height: 100px;
}
.formacao .subtitulo {
  color: #000;
  max-width: 5ch;
}

.formacao-descricao {
  color: #a3a3a3;
  font-size: 1.5rem;
  line-height: 1.3;
  max-width: 45ch;
}
.formacao-descricao strong {
  color: #fff;
}

.educacao {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 60px;
}
.educacao li {
  display: flex;
  flex-direction: column;
  background: #090909;
  border-radius: 5px;
  padding: 20px;
  flex: 1;
  min-width: 120px;
}
.educacao-nivel {
  color: #a3a3a3;
  font-size: 0.875rem;
  line-height: 1.4;
  text-transform: uppercase;
}
.educacao h3 {
  position: relative;
  flex: 1;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.3;
  margin-top: 10px;
}
.educacao h3::before {
  content: "";
  position: absolute;
  background: linear-gradient(#b6f829, #67dd0a);
  left: -24px;
  width: 4px;
  height: 20px;
}
.educacao-instituicao {
  color: #a3a3a3;
  font-size: 1.125rem;
  line-height: 1.1;
  margin-top: 50px;
}

/* Cursos e Idiomas */
.cursos,
.idiomas {
  margin-top: 60px;
}
.cursos h3,
.idiomas h3 {
  position: relative;
  color: #8f8f8f;
  font-size: 0.875rem;
  line-height: 1.4;
  text-transform: uppercase;
}
.cursos h3::before,
.idiomas h3::before {
  content: "";
  position: absolute;
  display: block;
  background: no-repeat center;
  top: -4px;
  left: -36px;
  width: 24px;
  height: 24px;
}
.cursos h3::before {
  background-image: url("/img/cursos.svg");
}
.idiomas h3::before {
  background-image: url("/img/idiomas.svg");
}
.cursos-lista,
.idiomas-lista {
  margin-top: 20px;
}
.cursos-lista li {
  display: flex;
  justify-content: space-between;
}
.cursos-nome,
.idiomas-nome,
.cursos-carga-horaria,
.idiomas-nivel {
  display: inline-block;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.1;
  margin: 10px 0;
}
.cursos-carga-horaria,
.idiomas-nivel {
  color: #8f8f8f;
  margin-left: 10px;
}

@media (max-width: 800px) {
  .formacao .container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .formacao .subtitulo {
    color: #fff;
  }
  .formacao-descricao {
    font-size: 1.25rem;
  }

  .cursos h3::before,
  .idiomas h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}
