.intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 100px;
  margin-top: 60px;
}

.intro h1 {
  position: relative;
  font-size: 4.5rem;
  line-height: 1.1;
  margin-bottom: 30px;
}
.intro h1::before {
  content: "";
  position: absolute;
  background: url("../img/detalhe.svg") no-repeat center;
  background-size: contain;
  z-index: -1;
  top: -30px;
  left: -40px;
  width: 128px;
  height: 128px;
}
.intro p {
  color: #525252;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .intro h1 {
    font-size: 3rem;
  }
  .intro h1::before {
    width: 110px;
    height: 80px;
  }
}
@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (max-width: 600px) {
  .intro {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .perfil {
    display: none;
  }
  .intro h1 {
    font-size: 2.5rem;
  }
  .intro p {
    font-size: 1.25rem;
  }
}
